code {
  display: block;
  margin: 40px auto;
  width: 700px;
}

#geoselector,
#geoselector2,
#geoselector3 {
  margin: 0px auto;
  width:700px;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: -1px -1px 38px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -1px 38px 10px rgba(0,0,0,0.75);
  box-shadow: -1px -1px 38px 10px rgba(0,0,0,0.75);
}